body{
    font-family: 'Lacquer', cursive;
    background: url("../../../../Images/Slender-Capa02.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.conteudo{
    text-align: center;
    margin: 180px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.circulo-carregando{
    margin: 0 auto;
    border: 16px solid #555454; /* Light grey */
    border-top: 16px solid #db3434; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }