body{
    background: url("../../Images/cenario-final.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.cabecalho{
    text-align: center;
    padding: 20px;
}
.titulo-ato{
    font-size: 35px;
    font-family: 'Lacquer', cursive;
}
.conteudo-primario{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
.secao-texto{
    padding: 20px;
    width: 500px;
    background: rgba(255, 255, 255, 0.055);
    border-radius: 10px;
}
.texto-historia{
    font-size: 25px;
    font-family: 'Inconsolata', monospace;
}
.botoes{
    width: 300px;
    margin:0 auto;
}
.botao-opcao{
    display: block;
    margin: 10px 0;
    width: 100%;
    border: none;
    background: rgba(66, 66, 66, 0.795);
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
    padding: 10px;
    color: white;
}
.botao-opcao:hover{
    cursor: pointer;
    transition: 0.5s;
    background: linear-gradient(90deg, rgba(5, 5, 5, 0.726) 10%, rgba(121, 121, 121, 0.568));
}
